*.pyc
affinity
aggiungi-repository
certificate.der
certificate.der.giusto
certificate.pem
config.py
config.pyc
configurazioni-repository
curl.log
DriverLettori
dumpasn1.c
dumpasn1.cfg
dump_object1.txt
dump_object2.txt
dump_object3.txt
filename.errato
filename.giusto
FileProtector
firma.odt
firmapiu.cfg
firme-esaurite.tsr
prova_curl
prova-directory
provaopenssl
prova.sh
prova.sh.tsq
prova.sh.tsq.samuel
prova.sh.tsq.samuel.tsr
prova.sh.tsq.tsr
prova.sh.tsr
rendiconto.jsp
Resoconto.ods
rfc3161-0.1.9
rfc3161-0.1.9.tar.gz
rfc3161.pdf
rfc3161.pdf.p7m
signature-new.xml
signature.xml
xmldsig-core-schema.xsd
.firmapiurc
.idea
dumpasn1-i386
dumpasn1-x86_64
python_cert.der
firmapiu-fortunato
firmapiu.tar.gz
